{{#if errors}}
  <div id="errors" class="has-background-danger-dark has-text-white px-3 py-3 mb-4 border">
    <ul>
      {{#each errors}}
        <li>• {{this.msg}}</li>
      {{/each}}
    </ul>
  </div>
{{/if}}


<style>
  .border {
    border-radius: 10px;
  }
</style>
