{{#if errors}}
  <div id="errors" class="has-background-danger-dark has-text-white px-3 py-3 mb-4 border">
    <ul>
      {{#each errors}}
        {{#if this.msg}}
          <li>• {{this.msg}}</li>
        {{else}}
          <li>• {{this}}</li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
{{/if}}

{{#if success}}
  <div id="success" class="has-background-success has-text-white px-3 py-3 mb-4 border">
    {{success}}
  </div>
{{/if}}


<style>
  .border {
    border-radius: 10px;
  }
</style>
