<nav class="navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <span>Contact Management Tool</span>
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        {{#if user.name}}
          <div class="navbar-item has-dropdown is-hoverable">
            <a id="username" class="navbar-link">
              {{user.name}}
            </a>
            <div id="account-dropdown" class="navbar-dropdown is-hoverable">
              <a class="navbar-item" href="/api/auth/logout">
                Cerrar sesión
              </a>
            </div>
          </div>
        {{else}}
          <a class="navbar-item" href="/login">
            Iniciar sesión
          </a>
          <a class="navbar-item" href="/register">
            Registrarse
          </a>
        {{/if}}
      </div>
    </div>
  </div>
</nav>


<script>
  // If the DOM is ready...
  $(document).ready(function() {
    // We show/hide the menu on mobile screens
    $(".navbar-burger").click(function() {
      $(".navbar-burger").toggleClass("is-active");
      $(".navbar-menu").toggleClass("is-active");
    });
  });
</script>
