<div class="has-background-info-dark height-100vh">
  {{#> container}}
    <div class="columns is-variable">
      <section class="column border has-background-white mr-2-tablet is-5-desktop px-0 py-0 is-clipped mb-4-mobile" style="height: 100%;">
        <header class="has-background-info px-3 py-2">
          <h3 class="has-text-white">Crear un contacto</h3>
        </header>
        <form class="px-3 py-4">
          <div class="control mb-5">
            <label for="name">Nombre</label>
            <input id="name" class="input" type="text" name="name" placeholder="Ingrese el nombre del contacto">
          </div>
          <div class="control mb-4">
            <label for="phone">Teléfono</label>
            <input id="phone" class="input" type="text" name="phone" placeholder="Ingrese el teléfono del contacto">
          </div>
          <div class="control">
            <input id="submit" class="button is-info is-fullwidth is-medium" type="submit" value="Crear contacto">
          </div>
        </form>
      </section>
      <div class="column border has-background-white ml-2-tablet is-7-desktop px-0 py-0" style="max-height: 500px; overflow-y: scroll;">
        <header id="contacts-header" class="has-background-info px-3 py-2">
          <h3 class="has-text-white">Lista de contactos</h3>
        </header>
        <table id="contacts-table" class="table is-fullwidth">
          <thead>
            <tr id="sticky-table-header">
              <th>Nombre</th>
              <th>Teléfono</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  {{/container}}
</div>

<script>
  // If the DOM is ready...
  $(document).ready(function() {
    // We bring up all the contact from the logged in user
    $.ajax('/api/contact', {
        type: 'GET',
        success: function (data, status, xhr) {
          for (let i = 0; i < data.length; i++) {
            let contact = data[i];
            addElementToTable(contact);
          }
        },
        error: function (jqXhr, textStatus, errorMessage) {
          console.log(errorMessage);
        }
      });


    // We show/hide the menu on mobile screens
    $("#submit").click(function(e) {
      // Preventing the page to be refreshed
      e.preventDefault();

      // Getting the input values
      let name = $('#name');
      let phone = $('#phone');

      // Ajax request to create the contact in the database
      $.ajax('/api/contact', {
        type: 'POST',
        data: {
          name: name.val(),
          phone: phone.val()
        },
        success: function (data, status, xhr) {
          console.log(data);
          addElementToTable(data);

          name.val('');
          phone.val('');
        },
        error: function (jqXhr, textStatus, errorMessage) {
          console.log(errorMessage);
        }
      });

      console.log("hola")
    });
  });




  // Functions
  function addElementToTable(contact) {
    // Create the HTML markup to be added to the contacts table
    let tr = $('<tr></tr>');
    let td_name = $('<td></td>').text(contact.name);
    let td_phone = $('<td></td>').text(contact.phone);
    tr.append(td_name, td_phone);

    let td_options = $('<td class="options"></td>');
    let edit_option = $(`<a class="button is-info mr-2" href="/contact/edit/${contact.id}"></a>`).text("Editar");
    let delete_option = $(`<a class="button is-danger" href="/contact/delete/${contact.id}"></a>`).text("Borrar");
    td_options.append(edit_option, delete_option);
    tr.append(td_options);

    $('#contacts-table tbody').append(tr);
  }
</script>

<style>
  .height-100vh {
    height: 100vh;
  }

  .border {
    border-radius: 10px;
  }

  .mb-4-mobile {
    margin-bottom: 40px;
  }

  #contacts-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  #sticky-table-header {
    position: -webkit-sticky;
    position: sticky;
    top: 40px;
    z-index: 1;
    background: #ffffff;
  }

  @media screen and (width >= 769px) {
    .mr-2-tablet {
      margin-right: 10px;
    }

    .ml-2-tablet {
      margin-left: 10px;
    }

    .mb-4-mobile {
      margin-bottom: 0px;
    }
  }
</style>
